:root {
    --default-font-color-1:#2a3d59;
    --default-font-color-2:#fff;
    --fast-transition:0.15s ease-in-out;
    --med-transition:0.5s ease;
    --med-transition2:0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    width: 100vw;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight:100;
}

a {
    text-decoration: none;
    color:white;
}

/* a:visited {
    color:var(--default-font-color-1);
} */

.below_opt {
    bottom: 0;
    height: 9vh;
}

.header {
    top: 0;
    height: 5vh;
    background: rgba(255,255,255,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5vw;
    font-weight: 100;
    font-size: 3vh;
    color: var(--default-font-color-1);
    position: absolute;
    width: 100vw;
    transition:0.2s ease;
}

.header:hover {
    background: rgba(255,255,255,0.8);
}

body > header, body > footer {
    width:100%;
    position:fixed;
    z-index: 3;
}


.anchors {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
}

.anchors > a, .complete_vers {
    width: calc(100%/3);
    display:flex;
    align-items: center;
    transition:var(--med-transition2);
    overflow: hidden;
    flex-direction: column;
}

.voltar {
    justify-content: center;
    color: white;
    font-weight: 100;
    background: linear-gradient(30deg,#19B6B6, #2A3D59 90%);
    position: relative;
    height: 100%;
    font-size: 3vh;
}

.normal_vers, .complete_vers {
    position: absolute;
    right: 0;
    bottom: 0;
}

.normal_vers {
    background: white;
    color: var(--default-font-color-1);
    justify-content: center;
    box-shadow: 0 -6px 50px 0 rgba(0,0,0,0.4);
    height: 138%;
    left: 0;
    margin: 0 auto;
    font-size: 5vh;
    transform: translateY(-20%);
}
    .normal_vers:hover {
        background: rgba(255,255,255,0.8);
    }

.normal_vers img {
    display:none;
}

.complete_vers {
    background: linear-gradient(-30deg,#19B6B6, #2A3D59 90%);
    justify-content: flex-end;
    height: 100%;
    font-size: 3vh;
    will-change: height;
}

.complete_vers h3 {
    position: absolute;
    top: 4.5vh;
    transform: translateY(-50%);
    color: white;
    font-weight: 100;
}

.complete_vers > section {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    bottom: 15%;
    font-size: 2.5vh;
    color: white;
    width: 85%;
    height: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}


.complete_vers > section form {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    font-weight: 400;
    color: var(--default-font-color-1);
    background:white;
    transition:0.2s ease;
}

.complete_vers > section form:hover {
    transform:scale(0.9);
}

.complete_vers > section h4 {
    text-align: center;
    position: relative;
}

.complete_vers > section h4 img {
    position: absolute;
    right: 0;
    height: 180%;
}

    .complete_vers:hover {
        height: 100vh;
        box-shadow: -10px 0 100px 20px rgba(42, 61, 89, 0.8);
    }

    .complete_vers:hover section {
        visibility: visible;
        opacity: 1;
        transition:0.8s 0.4s ease;
    }

.complete_vers::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.3),rgba(255,255,255,0));
    transform: rotate(10deg) translateY(-100%);
    transition: 1s 0.3s ease;
}
    .complete_vers:hover:after {
        transform: rotate(15deg) translateY(100%);
        transition: 1.3s ease;
    }

.complete_vers > section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.complete_vers > section ul li {
    text-align: center;
    padding: 2vh 5vh;
    box-sizing: border-box;
    width: 100%;
    font-size: 3vh;
    font-weight: 100;
}

.complete_vers > section ul li:nth-child(odd) {
    background: linear-gradient(-15deg, rgba(255,255,255,0), rgba(255,255,255,0.15));
}

.complete_vers > section ul li:nth-child(even) {
    background: linear-gradient(15deg, rgba(255,255,255,0), rgba(255,255,255,0.15));
}

body > section {
    width:100vw;
    height:100vh;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.sec1 > aside {
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_img {
    animation: float_icon 1.5s ease-in-out infinite alternate;
    width: 50%;
}

@keyframes float_icon {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-7%);
    }
}

.back_img {
    transform: rotate(-15deg);
    opacity: 0.3;
    right: -20%;
    height: 130%;
    bottom: -35%;
    position: fixed !important;
}

.iframe_container {
    width: 50%;
    height: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--default-font-color-2);
    top: 6%;
    align-items: center;
}

.iframe_container > div {
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.iframe_container h1 {
    font-size: 6vh;
    font-weight: 200;
}

.iframe_container h2 {
    font-size: 3vh;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.35vw;
}


.iframe_container iframe {
    width: 80%;
    height: 50vh;
    background:#ccc;
}

.sec2 {
    background: rgb(245, 245, 255, 0.8);
    position: relative;
    height: auto;
    z-index: 2;
    box-shadow: 0 -20px 30vh white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.sec3 {
    background:#111;
    position:relative;
    z-index: 2;
    box-shadow: 0 -20px 30vh #111;
}

.complete_version_window {
    background: linear-gradient(-15deg,#19B6B6, #2A3D59 90%);
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    z-index: 2;
    right: 0;
}


.price_tag {
    width: 16vw;
    position: absolute;
    height: 45vh;
    background: linear-gradient(-15deg,rgba(25, 182, 182, 0.8), rgba(42, 61, 89, 0.8) 90%);
    right: 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
    cursor: default;
    transition: var(--med-transition2);
    box-shadow: inset 0 0 0 5px white;
    animation: float_icon 1.5s 0.75s ease-in-out infinite alternate;
}

.price_tag:hover:before {
    opacity: 1;
    visibility: visible;
    transition: 0.3s 0.5s ease;
    transform: translateX(-100%);
}

.price_tag::before {
    content: "A transação será efetuada pelo PagSeguro. A planilha completa será enviada por planilhacessivel@outlook.com após a confirmação do pagamento.";
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    background: rgba(255,255,255,0.9);
    color: #2A3D59;
    padding: 4vh;
    transform: translateX(-90%);
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-size: 3vh;
}

.price_tag h5 {
    font-size: 5vh;
    margin-top: 10%;
}

.price_tag h6 {
    font-size: 16vh;
    font-weight: 500;
    height: 35%;
    line-height: 100%;
}

.price_tag h6 span {
    font-size: 5vh;
}

.price_tag form {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 2vh 0;
    box-sizing: border-box;
}

.price_tag div img {
    width:70%;
}

.price_tag p {
    font-size: 2.5vh;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 2vh;
}

.sec2 > h3 {
    font-size: 7vh;
    color: #8AA;
    text-align: center;
    width: 80%;
    margin: 10vh 0;
    letter-spacing: 1vw;
}

.blocks_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 4vw 15vh 4vw;
    box-sizing: border-box;
}

.blocks_container > div {
    width: 60vh;
    max-width: 500px;
    height: 30vh;
    max-height: 300px;
    box-shadow: 0 10px 40px #AEC1DD;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4vh;
    text-align: center;
    position: relative;
    padding: 2%;
    box-sizing: border-box;
    cursor: default;
    color: var(--default-font-color-1);
    font-weight: 100;
    flex-direction: column;
    transition:0.3s ease;
}

.blocks_container > div p {
    font-size: 1.9vh;
    bottom: 10%;
    width: 100%;
    color: darkgoldenrod;
    font-weight: 400;
    letter-spacing: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    position: absolute;
}


.blocks_container > div:nth-child(3n+1){
    animation: float_icon 1.5s ease-in-out infinite alternate;
}

.blocks_container > div:nth-child(3n+2){
    animation: float_icon 1.5s 0.5s ease-in-out infinite alternate;
}

.blocks_container > div:nth-child(3n+3){
    animation: float_icon 1.5s 1s ease-in-out infinite alternate;
}












































































@media screen and (max-width: 140vh) {

    body > section {
        height: auto;
    }

    .sec1 > aside {
        width: 100%;
        height: 36vh;
        align-items: flex-end;
    }

    .sec1 {
        display: block;
        padding-bottom: 11vh;
    }

    .iframe_container {
        width: 90%;
        height: 100%;
        justify-content: initial;
        position: relative;
    }

    .front_img {
        width: 22vh;
    }

    .back_img {
        transform: rotate(-15deg);
        opacity: 0.1;
    }


    .iframe_container h2 {
        font-size: 4vh;
        color: rgba(255, 255, 255, 0.6);
    }

    .iframe_container h1 {
        font-size: 5.5vh;
        font-weight: 400;
        margin: 4vh 0;
    }

    .iframe_container iframe {
        width: 80%;
        height: 28vh;
    }

    .price_tag {
        width: 50%;
        position: relative;
        right: 0;
        left: 0;
        margin: 10vh auto 0 auto;
    }




    .blocks_container > div:nth-child(3n+1){
        animation: none;
    }
    
    .blocks_container > div:nth-child(3n+2){
        animation: none;
    }
    
    .blocks_container > div:nth-child(3n+3){
        animation: none;
    }
    
    .normal_vers img {
        display:block;
        height: 70%;
    }

    .normal_vers p {
        display:none;
    }


    .below_opt {
        height: 10vh;
    }



    .complete_vers:hover {
        height: 80vh;
        width: 100vw;
    }


    .complete_vers h3 {
        text-align: center;
        font-size: 3vh;
        letter-spacing: -1px;
    }


    .normal_vers {
        box-shadow: none;
        border-top: 1.5vh solid #2A3D59;
    }











}